{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Homes{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">

<label for="homes">Choose a home model:</label>

<select name="homes" id="homes" required>
 <option value="">Select a home model</option>
 <option value="homeOne">Wood cabin (homeOne)</option>
 <option value="homeTwo">Brick house (HomeTwo)</option>
 <option value="homeThree">Small villa (homeThree)</option>
</select>
<br>
<input type="submit" value="Get Required Materials">
</form>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Wood</th>
      <th>Brick</th>
      <th>Nails</th>
      <th>Pipe</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>

    <!-- currently Loops through items and display them in the table 
     needs to be changed so it only shows the selected house or all houses previously selected
     maybe allow multiple selections-->
  {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.wood_required }}</td>
      <td>{{ item.brick_required }}</td>
      <td>{{ item.nails_required }}</td>
      <td>{{ item.pipe_required }}</td>
      <td>{{ item.created }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
